<section class="grid grid-cols-1">

  @defer () {
    <heavy-loaders-slow cssClass="bg-blue-200" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      loading...
    </p>
  }

  @defer () {
    <heavy-loaders-slow cssClass="bg-green-200" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      loading...
    </p>
  }

  @defer () {
    <heavy-loaders-slow cssClass="bg-purple-200" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      loading...
    </p>
  }

</section>
