<!-- <h1 class="text-3xl mb-5">Control flow</h1> -->

<app-title value="Control Flow" withShadow />

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

<div class="bg-white rounded shadow p-10">
  <h2>if: {{ showContent() }}</h2>

  <button
    class="p-2 bg-blue-800 rounded text-white"
    (click)="toggleContent()">
    Click me!
  </button>

  @if ( showContent() ) {
    <p>secret message</p>
  } @else {
    <p>*****************</p>
  }
</div>

<div class="bg-white rounded shadow p-10">
  <h2>Nota: {{ grade() }}</h2>

  <button
    class="p-2 bg-blue-800 rounded text-white"
    (click)="changeGrade()">
    Change Grade
  </button>

  @switch ( grade() ) {
    @case ('A') { <p>Arriba de 90</p> }
    @case ('B') { <p>Arriba de 80</p> }
    @case ('C') { <p>Arriba de 60</p> }
    @case ('F') { <p>Menor de 60</p> }
    @default {<p>Ausent</p>}
  }
</div>

<div class="bg-white rounded shadow p-10">

  <ul>
    @for (framework of frameworks(); track frameworks;
      let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count ) {

      <li [class]="{
        'bg-red-100':even && !first && !last,
        'bg-purple-100':odd && !first && !last,
        'bg-blue-100':first || last,
        }">
        {{ i + 1 }}/{{count}} - {{ framework }}
      </li>

    }
  </ul>

</div>

<div class="bg-white rounded shadow p-10">

  <ul>
    @for (framework of frameworks2(); track $index) {
      <li>{{ framework }}</li>
    } @empty {
      <li>List of frameworks empty</li>
    }
  </ul>

</div>

</section>

