<app-title value="Defer Options" withShadow />

<section>
  <h1 class="text-xl">Interactions</h1>
  <hr class="my-2">

 @defer (on interaction) {
   <heavy-loaders-fast cssClass="bg-blue-300 h-20" >
     <span>On Interaction</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-purple-100">
    Click ?
  </div>
 }
</section>

<section>
  <hr class="my-2">

 @defer (on hover) {
   <heavy-loaders-fast cssClass="bg-blue-300 h-20" >
     <span>On Interaction</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-purple-100">
    come closer
  </div>
 }
</section>

<section>
  <hr class="my-2">

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">
    Click me!
  </button>

 @defer (on interaction( btnInteraction )) {
   <heavy-loaders-fast cssClass="bg-blue-300 h-20" >
     <span>On Interaction with other elements</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-purple-100">
    Click ?
  </div>
 }
</section>

<section>
  <hr class="my-2">

 @defer (on hover( btnInteraction )) {
   <heavy-loaders-fast cssClass="bg-blue-300 h-20" >
     <span>On Interaction with other elements</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-purple-100">
    Click ?
  </div>
 }
</section>


<section>
  <hr class="my-2">

 @defer (on immediate) {
   <heavy-loaders-fast cssClass="bg-blue-300 h-20" >
     <span>Immediate</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-purple-100">
    loading...
  </div>
 }
</section>

<section>
  <hr class="my-2">

 @defer (on timer( 2000 ) ) {
   <heavy-loaders-fast cssClass="bg-green-300 h-20" >
     <span>On Timer</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-red-100">
    loading...
  </div>
 }
</section>

<section>
  <hr class="my-2">

 @defer (on hover; prefetch on idle ) {
   <heavy-loaders-fast cssClass="bg-pink-300 h-20" >
     <span>On hover, idle</span>
   </heavy-loaders-fast>
 }@placeholder {
  <div class="w-full h-20 bg-blue-100">
    Hover
  </div>
 }
</section>
